{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GPS protection</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="{% static 'images/logo.png' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link rel="stylesheet" href="{% static 'lib/animate/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}">

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Template Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"> </script>
</head>

<div id="spinner"
class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
<div class="spinner"></div>
</div>
{% include 'navbar.html' %}
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Свържете се с нас!</h5>
            <h1 class="mb-0">Ако имате въпроси, свържете се с нас</h1>
        </div>
        <div class="row g-5 mb-5">
            <div class="col-lg-4">
                <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.1s">
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                        <i class="fa fa-phone-alt text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">Телефон</h5>
                        <h4 class="text-primary mb-0">+359 87 606 7114</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.4s">
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                        <i class="fa fa-envelope-open text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">Имейл</h5>
                        <h4 class="text-primary mb-0">pn.find.me@gmail.com</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.8s">
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                        <i class="fa fa-map-marker-alt text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">Посетете офиса ни</h5>
                        <h4 class="text-primary mb-0">ул. Бигла</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-6 wow slideInUp" data-wow-delay="0.3s">
                <form id='contact-form'>
                    <div class="row g-3">
                        <div class="col-md-6">
                            {% if flag %}
                            <input name="sender" type="text" class="form-control border-0 bg-light px-4" value={{user.first_name}} style="height: 55px;" id="sender">
                            {% else %}
                            <input name="sender" type="text" class="form-control border-0 bg-light px-4" placeholder="Your Name" style="height: 55px;"  id="sender">
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            {% if flag %}
                            <input name="reply_to" type="email" class="form-control border-0 bg-light px-4" value={{user.email}} style="height: 55px;" id="mail">
                            {% else %}
                            <input name="reply_to" type="email" class="form-control border-0 bg-light px-4" placeholder="Your Email" style="height: 55px;" id="mail">
                            {% endif %}
                        </div>
                        <div class="col-12">
                            <input name="subject" type="text" class="form-control border-0 bg-light px-4" placeholder="Subject" style="height: 55px;" id="subject">
                        </div>
                        <div class="col-12">
                            <textarea name="message" class="form-control border-0 bg-light px-4 py-3" rows="4" placeholder="Message" style="margin-left:0px;" id="message"></textarea>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit" >Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 wow slideInUp" data-wow-delay="0.6s">
                <iframe class="position-relative rounded w-100 h-100"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2442.6944769478167!2d23.34752731587795!3d42.661110886693394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa86e8bd9111c1%3A0x5c45de8e14ed130b!2sul.%20Bigla%2C%20Lozenets%2C%201400%20Sofia%2C%20Bulgaria!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
                    frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}

<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'lib/wow/wow.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<!-- Template Javascript -->
<script src="{% static 'js/main.js' %}"></script>

<!-- Custom JS-->
<script src="{% static 'js/navbar.js' %}"></script>

<!-- Send email -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("contact-form").addEventListener("submit", function(event) {
          event.preventDefault();
          emailjs.init("Q4PNY3v5JsSBN03dz");
    
          emailjs.sendForm('service_zr7by5s', 'template_25t0led', this)
            .then(function() {
              console.log('SUCCESS!');
              alert('Your mail is sent!');
            }, function(error) {
              console.log('FAILED...', error);
              alert('Failed to send the mail, please try again later.');
            });
        });
      });
</script>
    

</body>

</html>