{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GPS Protection</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="{% static 'images/logo.png' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link rel="stylesheet" href="{% static 'lib/animate/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}">

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Template Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile-details.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    <style>
        .zoom-effect {
            transition: transform 0.5s;
            /* Animation */
        }

        .zoom-effect:hover {
            transform: scale(1.12);
            /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        }
        .container{
            margin-top:150px!important;
        }

        .suggestions {
            margin-top:6px;
            margin-left:10px;
            border: 1px solid #ccc;
            max-height: 100px;
            overflow-y: scroll;
        }
        
        .suggestions div {
            padding: 5px;
            cursor: pointer;
        }
        
        .suggestions div:hover {
            background-color: #e0e0e0;
        }
    </style>
</head>

<body data-members="{{ user|safe }}">
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner"></div>
    </div>

    {% include 'navbar.html' %}

        <!-- Edit Form  Start-->
        <div class="overlay" id="edit-form-container">
            <div class="form-container">
            <span class="closeBtn" onclick="hideEditForm()" style="cursor:pointer;">&times;</span>
            <h2 style='text-align:center;'> Редакция </h2>
            <form id="addMemberForm" enctype="multipart/form-data" method="POST" action="/department/edit_member/{{staff.id}}" class="scrollable-form" onsubmit="return validateForm(event);">
                {% csrf_token %}
                
                <div class="row g-3">
                    <input type="hidden" name="member_id" value="{{ staff.id }}">
                    <div class="col-xl-12">
                        <input name="name_in_latin" type="text" class="form-control bg-light border-0" placeholder="Име изписано на латинеца" style="height: 55px; margin-top:10px;" value='{{staff.name}}'>
                    </div>
                    <div class="col-12">
                        <input name="email" type="email" class="form-control bg-light border-0" placeholder="Служебен Email" style="height: 55px;" value='{{staff.email}}'>
                    </div>
                    <div class="col-12">
                        <select name = 'category' class="form-select bg-light border-0" style="height: 55px;">

                        {% if staff.get_category_display == "AFM laboratory" %}
                            <option value="1" selected>AFM лаборатория</option>
                        {% else %}
                            <option value="1">AFM лаборатория</option>
                        {% endif %}
                        
                        {% if staff.get_category_display == "CF laboratory" %}
                            <option value="2" selected>CF лаборатория</option>
                        {% else %}
                            <option value="2">CF лаборатория</option>
                        {% endif %}
                        
                        {% if staff.get_category_display == "Technicians" %}
                            <option value="3" selected>Техник</option>
                        {% else %}
                            <option value="3">Техник</option>
                        {% endif %}
                        
                        {% if staff.get_category_display == "Students involved in projects" %}
                            <option value="4" selected>Студент, включен в проект</option>
                        {% else %}
                            <option value="4">Студент, включен в проект</option>
                        {% endif %}
                        </select>
                    </div>

                    <div id="researchInterestSection" class="col-12">
                        <div id="interestsContainer">
                            {%for research_interest in staff.research_interests%}
                            <input type="text" placeholder="Add research interest" class="form-control bg-light border-0 mt-2" style="height: 55px;" value='{{research_interest}}'>
                            {%endfor%}
                        </div>
                        <input type="hidden" id="research_interests" name="research_interests" value="{%for research_interest in staff.research_interests%}{{research_interest}}{%endfor%}">
                        <button type="button" class="form-control bg-light border-0" style="height: 55px; margin-left:8px; margin-top:15px;" onclick='addResearchInterest(event)'>Добави устройство</button>
                        <p id="limitMessage" style="color: red; display: none;">Limit of 10 research interests reached!</p>
                    </div>
                    <div class="col-12">
                        <div class="file-dropzone" {% if staff.profile_photo %}style="display: none;"{% endif %} ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
                            <!-- Your file input, without value attribute -->
                            <input name="profile_photo" type="file" id="fileInput" class="file-input" accept="image/*" onchange="displayFileName(event);">
                            <label for="fileInput" class="drag-drop-label bg-light border-0">Drag & Drop or <span class="choose-file">Click to Choose a Photo</span></label>
                            <span class="file-name">No file chosen</span>
                            
                            <!-- Hidden input to store current image path -->
                            {% if staff.profile_photo.url and member.profile_photo.url %}
                                <input type="hidden" name="current_profile_photo" value="{{ staff.profile_photo.url }}">
                            {% endif %}
                        </div>
                                        
                        <div class="image-container" style="display: flex; justify-content: center; align-items: center; height: 150px; position: relative;">
                            {% if staff.profile_photo.url%}
                            <img id="imagePreview" src="{{ staff.profile_photo.url }}" alt="Photo preview" style="max-width: 100px; max-height: 100px;">
                            {% else %}
                            <img id="imagePreview" src="{% static 'images/add.jpg' %}" alt="Photo preview" style="max-width: 100px; max-height: 100px;">
                            {%endif%}
                            <span class="change-text">Change</span>
                        </div>
                    </div>
                    
                    <div class="col-xl-12">
                        <input name="short_cv" type="text" class="form-control bg-light border-0" placeholder="По желание - кратко CV" style="height: 55px;" value='{{staff.short_cv}}'>
                    </div>
                    <div class="col-xl-12">
                        <input name="full_cv" type="text" class="form-control bg-light border-0" placeholder="По желание - пълно научно CV/списък с публикации" style="height: 55px;" value='{{staff.full_cv}}'>
                    </div>
                    <div class="col-xl-12">
                        <input name="scopus" type="text" class="form-control bg-light border-0" placeholder="Scopus" style="height: 55px;" value='{{staff.scopus}}'>
                    </div>
                    <div class="col-xl-12">
                        <input name="google_scholar" type="text" class="form-control bg-light border-0" placeholder="Google Scholar" style="height: 55px;" value='{{staff.google_scholar}}'>
                    </div>
                    <div class="col-xl-12">
                        <input name="web_of_science" type="text" class="form-control bg-light border-0" placeholder="Web of Science" style="height: 55px;" value='{{staff.web_of_science}}'>
                    </div>
                    <div class="col-xl-12">
                        <input name="orcid" type="text" class="form-control bg-light border-0" placeholder="ORCID" style="height: 55px;" value='{{staff.orcid}}'>
                    </div>
                    <div class="col-12">
                        <textarea name="additional_info" class="form-control bg-light border-0" rows="3" placeholder="Друга информация, която бихте желали да има в личната Ви страница">{{staff.additional_info}}</textarea>
                    </div>
                    <div class="col-12">
                        <input  type="submit" value="Submit" class="btn btn-primary py-md-2 px-md-5 me-3" style='width:200px;' onclick='editMember(event, {{staff.id}})'>
                        <button type="button" onclick="hideEditForm()" class="btn  btn-outline-deepblue py-md-2 px-md-5 me-3" style='width:200px;'>Close</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
        <!-- Edit Form  END-->

        <!-- Device Form  Start-->
        <div class="overlay" id='device-form-container'>
            <div class="form-container">
            <span class="closeBtn" onclick="hideDeviceForm()" style="cursor:pointer;">&times;</span>
            <h2 style='text-align:center;'> Добави устройство </h2>
            <form enctype="multipart/form-data" class="scrollable-form" id="deviceForm" method='POST'>
                {% csrf_token %}
                <div class="row g-3">

                    <div class="col-xl-12">
                        <input name="title" type="text" class="form-control bg-light border-0" placeholder="Име на устройството" style="height: 55px; margin-top:10px;">
                    </div>

                    <div class="col-12">
                        <select name = 'category' class="form-select bg-light border-0" style="height: 55px;">
                            <option selected="">Категория</option>
                            <option value="1">Пасивен(чип)</option>
                            <option value="0">Активен(часовник/телефон)</option>
                        </select>
                    </div>

                    <div class="col-12">
                        <input type="button" value="Добави" class="btn btn-primary py-md-2 px-md-5 me-3" style='width:200px;' onclick="validateAndCreate();">
                        <button type="button" onclick="hideDeviceForm();" class="btn  btn-outline-deepblue py-md-2 px-md-5 me-3" style='width:200px;'>Затвори</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
        <!-- Device Form  End-->


        <!-- Features Start -->
        <div class="container">
            <div class="main-body">
               <div class="row gutters-sm">
                  <div class="col-md-4 mb-3">
                     <div class="card">
                        <div class="card-body">
                           <div class="d-flex flex-column align-items-center text-center">

                              <img src="{% static 'images/parent.png' %}" alt="Admin" class="rounded-circle" width="150">

                              <div class="mt-3">
                                 <h4>{{user.first_name}}  {{user.last_name}}</h4>
                                 <h4>Родител</h4>
                                 <p class="text-muted font-size-sm">{{user.email}}</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="card mt-3">
                        <ul class="list-group list-group-flush">
                           <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                              <h6 class="mb-0"><i class="fas fa-shield-alt"></i> Safety Area</h6>
                              <span class="text-secondary">
                                Очаквайте скоро!
                             </span>
                              <!--
                              <span class="text-secondary">
                                 <a href="{{ staff.safety_area }}">View Safety Area</a>
                              </span>
                              <button class="btn btn-success btn-sm" onclick="addSafetyArea()">Добавяне</button>-->
                           </li>
                        </ul>
                     </div>
                     
                     <script>
                     function editSafetyArea() {
                         // JavaScript code to handle the editing of safety areas
                         // Implement the logic as needed
                     }
                     
                     function addSafetyArea() {
                         // JavaScript code to handle adding new safety areas
                         // Implement the logic as needed
                     }
                     </script>
                     
                  </div>
                  <div class="col-md-8">
                     <div class="card mb-3">
                        <div class="card-body">
                           <div class="row">
                              <div class="col-sm-3">
                                 <h6 class="mb-0">Пълно име</h6>
                              </div>
                              <div class="col-sm-9 text-secondary">
                                 {{user.first_name}} {{user.last_name}}
                              </div>
                           </div>
                           <hr>
                           <div class="row">
                              <div class="col-sm-3">
                                 <h6 class="mb-0">Email</h6>
                              </div>
                              <div class="col-sm-9 text-secondary">
                                {{user.email}}
                              </div>
                           </div>
                           <hr>
                           <div class="row">
                              <div class="col-sm-3">
                                 <h6 class="mb-0">Тип акаунт</h6>
                              </div>
                              <div class="col-sm-9 text-secondary">
                                Родител
                              </div>
                           </div>
                           <hr>
                           <div class="row">
                              <div class="col-sm-3">
                                 <h6 class="mb-0">Свързани устройства</h6>
                              </div>
                              <div class="col-sm-9 text-secondary">
                                 {{ user.devices_list|length }}
                              </div>
                           </div>
                           <hr>

                           {% if user.is_superuser or user %}
                           <div class="row">
                              <div class="col-sm-12">
                                 <a class="btn btn-info " target="__blank" onclick="">Редакция</a>
                                 <a class="btn btn-danger " target="__blank" href="/logout">Изход от профила</a>
                              </div>
                           </div>
                           {% endif %}

                        </div>
                     </div>
                     <div class="row gutters-sm">
                        <div class="col-sm-6 mb-3">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h6 class="d-flex align-items-center mb-3"><i class="fa-solid fa-sim-card"></i>&nbsp;&nbsp;Устройства:</h6>
                                    {% for device in devices %}
                                    <div class="device-item">
                                        <small style="display:flex; justify-content: space-between; align-items: center; font-size:20px; margin-bottom:10px;">
                                            {{device.name}}
                                        </small>
                                    </div>
                                    {% endfor %}
                                    <!-- Add Device Button -->
                                    <div class="mt-3">
                                        <a onclick='showDeviceForm()' class="btn btn-primary" id='add-device-btn' style='cursor:pointer;'>Добави устройство</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 mb-3">
                           <div class="card h-100">
                              <div class="card-body">
                                 <h6 class="d-flex align-items-center mb-3"><i class="fa-solid fa-bell"></i>&nbsp;&nbsp;Известия:</h6>
                                 <ol>
                                    {% for notification in notifications %}
                                    <li>
                                        <small style='display:block; font-size:20px; margin-bottom:10px;'>{{notification.text}}</small>
                                    </li>
                                    {% endfor %}
                                 </ol>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>


        {% include 'footer.html' %}


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>


        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'lib/wow/wow.min.js' %}"></script>
        <script src="{% static 'lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
        <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
        <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/form.js' %}"></script>
        <!-- Template Javascript -->
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/login.js' %}"></script>
        <script src="{% static 'js/device.js' %}"></script>
        <script>
            $(window).scroll(function () {
                if ($(this).scrollTop() > 45) {
                    $('.navbar').addClass('sticky-top shadow-sm');
                } else {
                    $('.navbar').addClass('sticky-top shadow-sm');
                }
            });
          
        </script>
        <!-- Custom JS-->
</body>

</html>